.App {
  text-align: center;
  padding: 5rem; 
  max-width: 1000px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.flex {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.box {
  width:calc(20% - 1rem);
  max-width: 250px;
  min-width: 150px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.box img {
  width: 100%;
}

.modal-body.flex {
  justify-content: space-between;
}

.side {
  width: 48%;
  box-sizing: border-box;
}
.side.right {
  padding: 4rem 2rem;
  text-align: left;
}

.side.right .bold {
  margin-bottom: 1rem;
}

.side.right .flex {
  justify-content: space-around;
}

.modal-wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(41, 41, 44, 0.75);
}

.modal-content {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 1px 3px 44px -17px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 3px 44px -17px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 3px 44px -17px rgba(0, 0, 0, 0.16);
    border-radius: 7px;
    padding: 6rem 2rem;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.close:hover {
  color: grey;
  cursor: pointer;
}

form {
  text-align: left;
}

form .flex {
  justify-content: flex-start;
  align-items: center;
}

form input {
  padding: 0.5rem;
  width: 50%;
  margin-right: 0.5rem;
  max-width: 200px;
}

form .flex svg {
  font-size: 1.3rem;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
